*.pyc
__pycache__
*checkpoint.ipynb
MountainCar.ipynb
*.DS_Store
.vscode
*.yml
*.out
log*
Notebooks

#Models
Models

#Figures
Figures

#Results
SMC
Results
Returns
Regrets
Samples
Obs

#Not used
bandits.py
