*.pyc
__pycache__
*checkpoint.ipynb
MountainCar.ipynb
*.DS_Store
.vscode
*.yml
*.out
log*
Notebooks

#Models
Models

#Figures
Figures

#Results
MCMC
SMC
EG
UCB
Results
Returns
Regrets
Samples
Obs
Baseline/results

#Not used
bandits.py
